.header{background-color: rgb(229, 126, 0); padding: 20px: position: relative:}
            .header-text{}
             .header { display:flex;}
            nav { display:flex;}
            header #logo img { } 
            table, th, td {
  border: 1px solid black;
  border-collapse: collapse;}
